@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Castoro Titling', cursive;
}

body {
    background-color: rgb(141, 104, 140);
}

.main {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

.heading h1 {
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: 600;
    margin: 1%;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin: 30px auto;
}

.container {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.card {
    border-radius: 1rem;
    background-color: rgb(222, 222, 222);
    padding: 7px;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.indexcontainer {
    display: flex;
    margin: 3rem auto;
    letter-spacing: 1rem;
    align-items: center;
}

.numbox {
    width: 40px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px;
}

.content img {
    width: 100%;
    height: auto;
    margin: 60px auto;
    border-bottom-left-radius: 20px;
}

.content .inner-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    box-shadow: 0px 0px black;
    text-align: center;
}

.recipe-details {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.ingredients,
.instructions {
    flex-basis: 48%;
    text-align: justify;
}

.ingredients h4 {
    margin-top: 1.5rem;
    font-weight: bold;
}

.video {
    width: 100%;
    max-width: 800px;
    margin: 3rem auto;
}

.indexContainer {
    display: flex;
    margin: 2.5rem 0;
}

.numBox {
    width: 50px;
    height: 40px;
    background-color: #030e12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 5px;
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .main {
        width: 90%;
    }

    .heading h1 {
        font-size: 36px;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .main {
        width: 80%;
    }

    .heading h1 {
        font-size: 42px;
    }
}

@media only screen and (min-width: 1025px) {
    /* Additional styles for larger screens if needed */
}
